/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'typography';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 100%;
  font:14px 'Gill Sans', sans-serif;
  color: #1a1a18;
}
a, p{
  color: #1a1a18;
}
a{
  cursor: pointer;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

input,
textarea,
select {
  outline: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.right{
  float:right;
}
.left{
  float:left;
}

.cups{
  text-transform: uppercase;
}
.bold, h2{
  font-weight: bold;
}
h1{
  font-size:30px;
  text-transform: uppercase;
}

.text-right{
  text-align: right;
}
.content-wrapper{
  width:1200px;
  display: block;
  margin: auto;
}
.content-wrapper-smaller{
  width:884px;
  margin: auto;
}
a{
  text-decoration: none;
}

div.logo{
  position: absolute;
  margin-top:15px;
  z-index: 999;
  h1.logo-wrapper{
    text-indent: -9999px;
    line-height: 0;
  }
  a.logo{
    width: 166px;
    height: 139px;
    background: url("../images/logo-big.png") no-repeat;
    display: block;
  }
  &.logo-small{
    a.logo{
      background: url("../images/logo-small.png") no-repeat;
      width: 84px;
      height: 70px;
    }
  }
}
.static{
  position: static !important;
}



header{
  background-color: #fff12a;
  position: relative;
  max-height: 110px;
  height: 110px;
  .header-wrapper{
    width: 884px;
    margin: auto;
    position: relative;
  }
  .header-small{
    background-color: #ffe407;
    display: block;
    height:22px;
  }
  .contact-information{
    margin-top: 10px;
    width: 356px;
    h2{
      display: inline-block;
      margin-top: 10px;
    }
    .number{
      font-size: 16px;
    }
  }
}

.hero-image{
  background-color: #e9eaeb;
  width: 100%;
  position: relative;
  h1{
    font-weight: 100;
    position: absolute;
    top: 152px;
    right: 261px;
  }
}
.main-content{
  margin: 45px 0 65px 0;
  height: auto;
  display: inline-block;
  width: 100%;
.plastic-cards-slider{
  position: relative;
  width: 884px;
  margin: auto;
  ul{
    li{
      float: left;
      display: inline-block;
      width: 280px;
      margin-right: 22px;
      a{
        width: 100%;
      }

      .cart-description{
        width: 109px;
        margin: 46px 0 0 17px;
        font-size: 15px;
      }
      &:last-child{
        margin-right:0;
      }
    }
  }
  .bx-controls-direction{
    position: absolute;
    width: 100%;
    max-width: 884px;
    padding: 0;
    top: 78px;
    left: 0%;
    .bx-prev{
      left: -50px;
      position: absolute;
      padding:2px 4px 1px 0;
      margin-left:-1px;

    }
    .bx-next{
      right: -53px;
      position: absolute;
      padding:2px 0 1px 4px;
      margin-right: -1px;

    }
    a{
      border: 2px solid #ffdc2e;
      border-radius: 7px;
      color: #ffdc2e;
      font-size: 23px;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &:before{

      }
      &.bx-prev:before{
        content: "\e600";
      }
      &.bx-next:before{
        content: "\e601";
      }
      &.disabled{
        display: none;
      }
    }
  }
}
}

footer{
  clear: both;
  background: #fff12a;
  .header-small-wrapper{
    background: #ffe407;
    height: 40px;
    width: 100%;
    .header-small-content{
      width:884px;
      margin: auto;
    }
  }
  .content-wrapper{
    width: 884px;
    div{
      font-size: 16px;
      margin-top:20px;
      width: 250px;
      p{
        padding-bottom: 6px;
      }
    }
    .menu{
      margin-right: 12px;
    }

    .address{
      font-size: 14px;
    }
    .phones p{
      padding: 0;
    }
  }
  .logo.logo-small{
    margin:6px 0 0;
    width: auto;
  }
  .header-small-wrapper{
    p{
      margin-top:10px;
    }
  }
}

.center{
  text-align: center;
}

/*pop ups*/

.pop-up{
  position: absolute;
  background: rgba(253,250,226, .9);
  z-index: 9999;
  top: 111px;
  left: 0%;
  width: 100%;
  height: 100%;
  min-height: 673px;

  .content-wrapper-smaller{
    position: relative;
  }
  h1{
    font-size: 16px;
  }
  p{
    font-size: 16px;
  }

  &.contacts{
    .content{
      width: 500px;
      margin: 90px auto;
    }
    h1{
      margin:20px 0 20px 0;
      text-align: center;
    }
    p{
      margin: 20px 0 0 100px;
    }
  }
}

.close{
  border: 2px solid #898989;
  border-radius: 7px;
  display: inline-block;
  padding: 3px 6px 2px 6px;
  cursor: pointer;
  margin: 0 0 30px 0;
  position: absolute;
  top: -70px;
  right: 20px;
  font-size: 18px;
  font-weight: 100;
}
.back-call, .back-contacts{
  h2.short-msg{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    margin: 25px 0 30px 0;
  }
  p{
    display: inline-block;
    width: 95%;
    padding: 7px 7px 0 10px;
    label{
      margin-left: 20px;
      width: 79px;
      display: inline-block;
      margin-top: 9px;
      font-size: 16px;
    }
  }
  .content-wrapper-smaller{
    margin: 90px auto;
  }
  .content{
    width: 394px;
    background: rgba(253,253,249, .8);
    border-radius: 10px;
    margin: auto;
    min-height: 360px;
    -webkit-box-shadow: 4px 1px 8px 0px rgba(17, 17, 17, 0.60);
    -moz-box-shadow:    4px 1px 8px 0px rgba(17, 17, 17, 0.60);
    box-shadow:         4px 1px 8px 0px rgba(17, 17, 17, 0.60);
  }
  .short-msg{
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input{
    width: 220px;
    border-radius: 5px;
    float: right;
    height: 27px;
    padding: 3px;
    border:1px solid #898989;
    background: rgba(253,253,249, .8);

  }
  textarea{
    border:1px solid #898989;
    float: right;
    width: 220px;
    padding: 3px;
    border-radius: 5px;
    background: rgba(253,253,249, .8);
  }
  .submit{
    width: 95px;
    background: #FFF;
    border:1px solid #898989;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Gill Sans', sans-serif;
    height: 25px;
  }
  .submit-wrapper{
    margin-bottom: 50px;
  }
}

.card-content{
  position: relative;

  .content-wrapper-smaller{
    background: url("../images/yellow-separator.png") top center no-repeat;
    padding-top: 50px;
    margin-bottom: 40px;
    .card{
      //background: url("../images/plastic_index_2.png")center no-repeat;
      width:895px;
      height: 339px;
      margin-bottom: 15px;
    }
  }
  ul{
    margin:20px 0 20px 40px;
    li{
      &:before{ content:"-"; position:relative; left:-5px;}
      text-indent:-5px;
    }
  }
  p,h2,li{
    color: #231f20;
    font-family: 'Arial';
  }
  h2{
    font-size: 14px;
  }
  p{
    margin-bottom: 10px;
    font-size: 12px;
  }
}